{% extends "layout.html" %}

{% block content %}
    <div class="container" >
        <div class="row">
            <div class= "col-sm" style="font-family: 'Poppins', sans-serif;">
                <br>
                <h1>My Journey with UX</h1>
                </br>
                <p>
                    During my freshmen year I became dissatisfied with my major. I wanted to work with technology but I wanted a major that was broad enough for me to explore a more creative path. As I asked people around me
                    as well as advisors, the one major that was constantly thrown at me was Information Technology. However, there was another major that was mentioned to me: Human Computer Interaction. I did not hear it from the advisors,
                    but from a student I had a lab with, who saw that I was interested in art and graphic design. I ignored her and switched to IT. It would not be until my last semester as a sophomore that I discovered what exactly HCI was about,
                    but more specifically, what UX design was. I took a class recommended to me by a friend who was equally dissatisfied with the IT program, and I ended up absolutely loving it. It was just what I wanted: the perfect balance of technology,
                    arts, and psychology
                </p>
                <p>
                    Soon after taking my first UX class, I decided to minor in HCI and became involved in lab, NJIT Connections Lab. In my short but productive time in the lab, I have been able to
                    explore different UX methodologies for the creation of a collaborative life-logging system for athletic activities.
                    Among these practices are interviewing, ethnographic research, data analysis, personas, empathy and journey mapping, storyboarding, usability testing, and prototyping.
                    An example of these practices at work is ClubHub, a social media app for college clubs, created with three other lab members using the Google Sprint methodology.
                    Another project, on which I am currently working on,
                    is the re-design of the lab's website. The latter has allowed to further explore different methodologies such as parallel and iterative design. My work with the lab allowed me to discover that
                    I was more of a UX designer than a researcher. I enjoy the process of understanding the problem the user is facing, and coming up with an efficient solution.
                </p>
                <p>
                    As a junior, and soon to be senior, I wished I had paid attention to that girl freshmen year. I would have probably majored in HCI and maybe would have joined a lab sooner.
                    It is very unfortunate that this area does not get as much attention as majors like computer science of information systems.
                    However, there is also a huge bright-side to the novelty of UX: it can be self-taught. By doing small projects, reading up on the subject, and going to events within the
                    design community, it is possible to become part of the industry. Here are some methodologies that are commonly used that can be self-taught:
                </p>
                </br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm " >
                <table class="table">
                    <thead class="thead-dark" style="font-family: 'Poppins', sans-serif;">
                    <tr>
                        <th>UX Branch</th>
                        <th>Methodology</th>
                        <th>What is it & How is it used</th>
                        <th>Resources</th>
                    </tr>
                    </thead>
                    <tbody style="font-family: 'Poppins', sans-serif;">
                    <tr>
                        <td>UX Research</td>
                        <td>Interviews</td>
                        <td>Self-explanatory. Used to better understand the problems and needs of your potential users. </td>
                        <td><a href="https://www.interaction-design.org/literature/article/how-to-conduct-user-interviews" class="btn btn-link">How to Conduct User Interviews</a></td>
                    </tr>
                    <tr class="table-info">
                        <td>UX Research</td>
                        <td>Personas</td>
                        <td>Personas are imaginary people created using information gathered from your interviews that represent your target audience. Personas are used to paint a better picture of the user struggles as well as estimate what kind of solutions would work best. </td>
                        <td><a href="https://unamo.com/blog/conversion/how-to-create-ux-personas" class="btn btn-link">How to Create Personas</a></td>
                    </tr>
                    <tr>
                        <td>UX Design</td>
                        <td>Journey Mapping</td>
                        <td>Journey mapping visualizes the journey a persona goes through while accomplishing a goal. This allows us to understand the problems that users might face (a.k.a their pain points) as well as how they feel.</td>
                        <td><a href="https://www.appcues.com/blog/user-journey-map" class="btn btn-link">How to Create Journey Maps</a></td>
                    </tr>
                    <tr class="table-info">
                        <td>UX Design</td>
                        <td>Storyboarding</td>
                        <td>Storyboardsa are illustrations that better visualize the user<span>'</span>s journey. Great for getting a better feel for the scenarios for the users. Companies also like them because it<span style="font-family: 'Montserrat', sans-serif;">'</span>s a good way of selling their product. </td>
                        <td><a href="https://uxplanet.org/storyboarding-in-ux-design-b9d2e18e5fab" class="btn btn-link">Examples of Storyboarding and Why It Is Important</a></td>
                    </tr>
                    <tr>
                        <td>UX Design</td>
                        <td>Paper Prototyping</td>
                        <td>Paper protoyping is used to quickly test out how a product works. It<span>'</span>s tedious, but cheap.  It allows designers to see problems before they create the real thing, allowing for iterations, before moving on to real prototyping.
                        <td><a href="https://www.sitepoint.com/how-to-make-paper-prototypes/" class="btn btn-link">How to Create Paper Prototypes</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
