<nav class="navbar navbar-expand-sm bg-white navbar-light" style="padding-top: 10px;padding-bottom: 10px">
  <a class="navbar-brand text-body" style="font-family: 'Poppins', sans-serif;" href="#">Melissa Alzate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:black; font-family:'Poppins', sans-serif;">My UX Journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="https://www.linkedin.com/in/ma867/" style="color:black;"><span class="fa fa-linkedin"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="https://github.com/ma867" style="color:black;"><span class="fa fa-github"></span></a>
      </li>
    </ul>
  </div>
</nav>
